<ion-header>
  <ion-toolbar color="secondary">
    <ion-back-button></ion-back-button>
    <ion-title>Edit Current Rental</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="primary">
<ion-card>
  <ion-label *ngIf = "currentListing"> 
    {{currentListing.name}}
    <br>
    {{currentListing.location}}
    <br>
    {{currentListing.price}}
    <br>
  </ion-label>
  Make your changes below.
  <ion-input placeholder="Name of Listing" [(ngModel)]="listing.name"></ion-input>
  <ion-input placeholder="Location" [(ngModel)]="listing.location"></ion-input>
  <ion-input placeholder = "Image URL" [(ngModel)] = "listing.imageUrl"></ion-input>
  <ion-input placeholder = "Price" [(ngModel)]="listing.price"></ion-input>
  <br>
  <ion-button shape="round" color="secondary" (click)="saveDetails()">Save</ion-button>
</ion-card>
</ion-content>
