<ion-header>
  <ion-toolbar color="secondary">
    <ion-back-button></ion-back-button>
    <ion-title>
      {{listing.name}}
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="primary">
  <ion-card>
    Here are the details for your current listing:
    <br>
    <ion-text>
      {{listing.name}}
      <br>
      {{listing.location}}
      <br>
      Price: {{listing.price}} per night
    </ion-text>
    <br>
    <ion-button shape="round" color="secondary" (click)="editDetails()">Edit</ion-button>
  </ion-card>

    <ion-card>
      Current Booking Requests for {{listing.name}}:
      <ion-list>
        <ion-item *ngFor="let request of requests" color="primary">
          <ion-label> {{request.startDate}} to </ion-label>
          <ion-label>{{request.endDate}}</ion-label>
          <ion-button shape="round" color="secondary" (click)="accept()">ACCEPT</ion-button>
          <ion-button shape="round" color="secondary" (click)="reject()">REJECT</ion-button>
        </ion-item>
      </ion-list>
    </ion-card>
  <ion-card class="welcome-card">

    <ion-img src={{listing.imageUrl}}></ion-img>
  </ion-card>
  <ion-button shape="round" color="secondary" (click)="delete()">Delete Listing</ion-button>
</ion-content>