
<ion-header>
  <ion-toolbar color="secondary">
    <ion-back-button></ion-back-button>
    <ion-title *ngIf="currentListing">
      {{currentListing.name}}
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="primary">
  <ion-card>
    Here are the details for your current listing:
    <br>
    <ion-text *ngIf="currentListing">
      {{currentListing.name}}
      <br>
      Price: {{currentListing.price}} per night
    </ion-text>
    <br>
<ion-button shape="round" color="secondary" (click)="editDetails(currentListing)">Edit</ion-button>

  </ion-card>
  <ion-card class="welcome-card">

  <ion-img src={{currentListing.preview}}></ion-img>
  </ion-card>
</ion-content>